* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background: rgb(198,99,241);
  background: linear-gradient(-45deg, rgba(198,99,241,1) 0%, rgba(124,75,226,1) 50%, rgba(47,168,198,1) 100%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-container {
  background-color: white;
}

.header {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.heading {
  font-weight: 300;
  font-size: 1.5em;
  color: rgb(85 30 199);
  padding: 20px 0;
}

.reset {
  font-family: inherit;
  padding: 15px 18px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  flex-shrink: 0;
  background-color: rgba(124,75,226,1);
  color: white;
  transition: transform 0.3s, background-color 0.3s;
}

.reset:hover {
  transform: translateY(-8%);
  background-color: rgb(85 30 199);
}

.reset:active {
  transform: translateY(0);
  background-color: rgba(124,75,226,1);
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  align-content: center;
  gap: 10px;
  min-height: 60vh;
}

.begin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.finish {
  font-family: inherit;
  padding: 20px 25px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: rgb(85 30 199);
  background-color: #ffffffab;
  min-width: 35px;
  margin: 0 auto;
  font-size: 17px;
  transition: transform 0.3s, background-color 0.3s;
}

.finish:hover {
  transform: translateY(-8%);
  background-color: rgba(255, 255, 255)
}

.finish:active {
  transform: translateY(0);
  background-color: #ffffffab;
}

.title {
  font-weight: 300;
  font-size: 2em;
  text-align: center;
}

/* For colors game */
/* #game div {
  border: 1px solid rgb(201, 201, 201);
  width: 150px;
  height: 150px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
}  */

/* For gifs */
.card {
  flex: 0 0 200px;
  height: 200px;
  perspective: 500px;
  cursor: pointer;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 0.5s;
  transform-style: preserve-3d;
}



.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffffff3b;
  line-height: 200px;
  color: #03446A;
  text-align: center;
  font-size: 70px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card:hover .content .front {
  background: #ffffff74;
}

.back {
  /* background: url(gifs/1.gif); */
  color: white;
  transform: rotateY(-180deg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.score {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between;
}

.hide {
  display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width:660px) {
  .card {
    height: 100px;
    width: 100px;
  }

  .front,
  .back {
    line-height: 82px;
  }
}